<!DOCTYPE html>
<html>
<head>
    <title>Меню</title>
</head>
<body>
    <h2>Меню</h2>
    <form method="post" action="/Menu">
        <label for="page">Выберите страницу:</label>
        <select name="page" id="page">
            <option value="Home/Index">Главная страница</option>
            <option value="ChangeStatus/Index">Изменение статуса сотрудника</option>
            <!-- Добавьте другие страницы по мере необходимости -->
        </select>
        <button type="submit">Перейти</button>
    </form>
</body>
</html>

