@model List<Company.Models.Организации>

<table class="table">
    <thead>
        <tr>
            <th>Код организации</th>
            <th>Код статуса</th>
            <th>Название организации</th>
            <th>ИНН</th>
            <th>КПП</th>
            <th>ОГРН</th>
            <th>Код</th>
            <th>Тип организации</th>
            <th>Дата закрытия</th>
            <th>Код родительской организации</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var организация in Model)
        {
            <tr>
                <td>@организация.Код_организации</td>
                <td>@организация.Код_статуса</td>
                <td>@организация.Название_организации</td>
                <td>@организация.ИНН</td>
                <td>@организация.КПП</td>
                <td>@организация.ОГРН</td>
                <td>@организация.Код</td>
                <td>@организация.Тип_организации</td>
                <td>@организация.Дата_закрытия</td>
                <td>@организация.Код_родительской_организации</td>
            </tr>
        }
    </tbody>
</table>
